.social-media-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-container-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media-img {
    width: 48px;
    height: 48px;
}