<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <title>
        @{
            ViewData["Title"] = "Contacts";
        }
    </title>
    
    <link rel="stylesheet" href="~/css/Contacts.css"/>
</head>

<body>

<header>
    
</header>

<main class="main-contacts">
    <div class="contacts-container">
        <h2 class="social-media-h2">Contacts:</h2>
        <div class="social-media-container-links">
            <a class="social-media-link telegram-link" href="https://t.me/mazastya">
                <img class="social-media-img" src="~/images/Telegram_logo.svg" alt="Telegram Logo">
            </a>
            <a class="social-media-link github-link" href="https://github.com/mazastya">
                <img class="social-media-img" src="~/images/Github_logo.svg" alt="Github Logo">
            </a>
        </div>
    </div>
</main>


<footer>
    
</footer>
</body>
</html>