<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <title>
        @{
            ViewData["Title"] = "Home Page";
        }
    </title>
    
    <link rel="stylesheet" href="~/css/HomePage.css">
</head>

<body>
<header>
    
</header>

<main class="main-index">
    <h1>Welcome to Home Page</h1>
</main>

<footer>
    
</footer>
</body>