<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Anastasia Mazanova (mazastya)"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"] - FilatovWeather</title>

    <link rel="stylesheet" href="~/css/_Layout.css"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
<header>
    <nav class="navbar">
        <a class="navbar-brand" asp-controller="Home" asp-action="HomePage">FilatovWeather</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Projects">Projects</a>
            </li>
            <li class="nav-item contacts">
                <a class="nav-link" asp-controller="Home" asp-action="Contacts">Contacts</a>
            </li>
        </ul>
    </nav>
</header>

<main class="main">
    @RenderBody()
</main>

<footer class="footer">
    <div class="container-privacy">
        &copy; 2025 - MazaSpace - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
