<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <title>
        @{
            ViewData["Title"] = "Weather Game";
        }
    </title>
    
    <link rel="stylesheet" href="~/css/projects/WeatherGame.css">
</head>

<body>
<header>
    
</header>

<main>
    <h1>Welcome to Weather Game Page</h1>
    <a class="api-weather-link" asp-controller="WeatherGame" asp-action="WeatherGame"></a>
</main>

<footer>
    
</footer>
</body>